<p id="notice"><%= notice %></p>

<div class="toppage">
  <h1 class="top">ツーリングカレンダー</h1>
  <p><%= link_to places_path do %></p>
   予定履歴
  <% end %>
<br>

  <div class="row">
    <div class="col-md-4">
	    <div class="schedule">今後の予定一覧</div>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>場所</th>
              <th>日程</th>
              <th>時間</th>
              <th>走行距離（km）</th>
            </tr>
          </thead>

          <tbody>
            <% @blogs.each do |blog| %>
              <tr>
                <td><%= link_to blog.title , blog %></td>
                <td><%= blog.start_time.strftime("%m-%d") %></td>
                <td><%= blog.start_time.strftime("%H:%M") %></td>
                <td><%= blog.mileage  %>km</td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= form_with(model: @blog, local: true) do |form| %>

        <div class="title">
          <div class="form-tag">場所</div>
            <%= form.text_field :title %>
          </div>


          <div class="content">
            <div class="form-tag">内容</div>
              <%= form.text_field :content %>
          </div>

          <div class="mileage">
            <div class="form-tag">走行距離（km）</div>
              <%= form.text_field :mileage %>
          </div>

          <div class="time">
            <div class="form-tag">時間</div>
              <%= form.datetime_select :start_time %>
          </div>

         <div class="submit">
          <%= form.submit %>
         </div>
        <% end %>
    </div>
    <br>

    <br>
    <div class="col-md-8">
      <%= month_calendar events: @blogs do |date, blogs| %>
      <%= date.day %>

        <% blogs.each do |blog| %>
        <div>
          <%= link_to blog.title, blog %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>