<div class="continer">
  <div class="row my-3 ml-5">
  <p id="notice"><%= notice %></p>
    <div class="show">
    <p>
      <strong>場所</strong>
      <%= @blog.title %>
    </p>

    <p>
      <strong>内容</strong>
      <%= @blog.content %>
    </p>

    <p>
      <strong>走行距離</strong>
      <%= @blog.mileage %>km
    </p>

    <p>
      <strong>時間</strong>
      <%= @blog.start_time.strftime("%m-%d") %>
    </p>

    <%= link_to '編集', edit_blog_path(@blog) %>
    <%= link_to '消去',blog_path(@blog.id), method: :delete, data: { confirm: '本当に?' } %>
    <%= link_to '戻る', blogs_path %>
    </div>
  </div>
</div>